<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #e0e0e0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='%23d7c3c3' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d59e9e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23db7171' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23e93c3c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FF0000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
      }
      html,
      body,
      header,
      .view {
        height: 100%;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
          height: 1000px;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
          height: 600px;
        }
      }

      .btn .fa {
        margin-left: 3px;
      }

      .top-nav-collapse {
        background-color: #a80f0f !important;
      }

      .navbar:not(.top-nav-collapse) {
        background: transparent !important;
      }

      @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
          background: #424f95 !important;
        }
      }

      .btn-white {
        color: black !important;
      }

      h6 {
        line-height: 1.7;
      }
      .input {
        --input-focus: #2d8cf0;
        --font-color: #323232;
        --font-color-sub: #666;
        --bg-color: #fff;
        --main-color: #323232;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid var(--main-color);
        background-color: var(--bg-color);
        box-shadow: 4px 4px var(--main-color);
        font-size: 15px;
        font-weight: 600;
        color: var(--font-color);
        padding: 5px 10px;
        outline: none;
      }

      .input::placeholder {
        color: var(--font-color-sub);
        opacity: 0.8;
      }

      .input:focus {
        border: 2px solid var(--input-focus);
      }
      main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      /*Retro Style Card*/

      .card {
        margin-top: 10px;
        width: 100rem;
        height: 300px;
        overflow: scroll;
        background: #fff;
        border: 3px solid #000;
        border-radius: 0;
        -webkit-box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
        box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
      }
      .card h3 {
        padding: 10px;
      }
      .card p {
        padding: 10px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <!-- Main navigation -->
    <header class="h-50">
      <!--Navbar-->
      <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"
      >
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link text-danger" href="/"
                  >Ask new question
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="card">
        <h3><%= question%>?</h3>
        <p><%= answer %></p>
      </div>
    </main>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
    ></script>
  </body>
</html>
